<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aula 9 - Vue.js Filters</title>
    <script src="https://unpkg.com/vue"></script>
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<!-- Begin page content -->

    <div id="app">
        <h1 v-if="status" v-bind:class="btnClassEnviar">{{ titulo }}</h1>


        <ul><li v-for="usuario in usuarios">{{ usuario.nome | truncate('4') }}</li></ul>


        <form action="https://ahsakodigitais.com">

        <button class="btn" v-bind:class="btnClassEnviar" v-on:click.prevent.stop="enviar()">Enviar</button>
        </form>
    </div>


    <script>
    var app = new Vue({
    el: "#app",
    data: {
      titulo: "Aula 9 - Vue.js Filters",
      status: true,
      btnClassEnviar: "btn-success ml-5",

      usuarios:[
        { nome: "diego"},
        { nome: "rodrigo"},
        { nome: "raul"},
        { nome: "henry"}
      ]
      },

      filters:{
        toUpperCase(str, parametro1, parametro2){
          //console.log('parametro1', parametro1);
          //console.log('parametro2', parametro2);
          return str.toUpperCase();
        },

        truncate(str, length){
        var output = str;
        if(output.length > length){
          output = str.substring(0,length) + ' ... ';
        }
        return output
        }
      },

      methods:{
        enviar(){
          alert("enviado!");
        },
      }
    });

    </script>



</body>
</html>
